.muscle {
    position: relative;
    display: flex;
}

.muscle::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/be-strong.jpg");
    background-size: cover;
    background-position-y: 20%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
}