.header {
    position: relative;
    z-index: 1;
    background: black;
    background: url("../images/header-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}