* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    background: url('../images/html-bg.jpg');
    background-position: top;
    background-size: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.6);
}

.header {
    position: relative;
    z-index: 1;
    background: black;
    background: url("../images/header-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.logo {
    font-size: 1.3rem;
    color: white;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(0, 0, 0) 30%, rgba(0, 0, 0, 0.7) 100%);
    padding: 15px 50px;
    font-weight: bold;
    -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.6);
}

.logo__company {
    margin-left: 1em;
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
}

.nav {
    height: 8em;
    padding: 10px 50px;
    font-size: 1.3rem;
    font-weight: 600;
}

.nav__list {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__list__item {
    filter: grayscale(100%) blur(1px);
    -webkit-filter: grayscale(100%) blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 50%;
    text-align: center;
    font-size: 1.2rem;
    transform: scale(1);
    height: 6.5rem;
    width: 6.5rem;
    background: url("../images/nav-item-bg.jpg");
    background-size: 106%;
    background-position-x: 38%;
    background-position-y: 50%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 9px #000000;
    -webkit-box-shadow: 0px 0px 4px 5px rgba(87, 87, 87, 1);
    -moz-box-shadow: 0px 0px 4px 5px rgba(87, 87, 87, 1);
    box-shadow: 0px 0px 4px 5px rgba(87, 87, 87, 1);
    -webkit-transition: transform 0.3s, filter 0.3s;
    transition: transform 0.3s, filter 0.6s;
}

.unblur{
    filter: grayscale(0.6) blur(0px);
    -webkit-filter: grayscale(60%) blur(0px)
}

.nav__list__item--active {
    transform: scale(1.3);
    -webkit-box-shadow: 0px 0px 4px 5px gray;
    -moz-box-shadow: 0px 0px 4px 5px gray;
    box-shadow: 0px 0px 4px 5px gray;
    filter: grayscale();
    -webkit-filter: grayscale(0%);
}

.page{
    min-height: 38em;
}
.page__header{
    color: white;
    font-size: 2.2em;
    padding-bottom: 10px;
    border-bottom: 2px solid;
}
.page__text{
    padding: 15px 0;
    font-size: 1.5em;
    color: white;
}
.pages{
    font-size: 0.9rem;
}

.home {
    position: relative;
}

.home::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/home-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.box--left {
    padding: 15px 50px;
    width: 45%;
    color: white;
}

.box--right{
    padding: 15px 50px;
    width: 45%;
    text-align: right;
    margin-right: 0;
    margin-left: auto;
    color: white;
}

.box--absolute{
    padding: 15px 50px;
    width:55%;
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
    font-size: 1.3vw;
    color: black;
}

.box--center{
    text-align: center;
}

.box__header {
    display: inline-block;
    font-size: 2.5em;
    letter-spacing: 4px;
    border-bottom: 2px solid;
    padding-bottom: 15px;
}
.box__article__subheader {
    font-size: 1.8em;
    padding-top: 15px;
}

.box__article__text {
    font-size: 1.3em;
    padding: 15px 0;
    line-height: 1.3em
}
.box__article__text--quote{
    font-style: italic;
    font-size: 1.3em;
    padding: 15px 0;
    line-height: 1.3em
}

.box__article__product-name {
    font-size: 2.5em;
    font-family: 'Carter One', cursive;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 10px 0;
}

.muscle {
    position: relative;
    display: flex;
}

.muscle::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/be-strong.jpg");
    background-size: cover;
    background-position-y: 20%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.healthy {
    position: relative;
    display: flex;
}

.healthy::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/be-healthy.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.healthy__box__article__list{
    list-style: none;
    font-size: 1.3em;
}
.healthy__box__article__list__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.healthy__box__article__list__item__icon{
    display: flex;
    justify-content: center;
    font-size: 3em;
    height: 1.2em;
    width: 15%;
    text-shadow: 0px 0px 12px rgba(0,0,0,0.8);
}
.healthy__box__article__list__item__text{
    width: 80%;
}
.fit__img{
    width: 100%;
    display: block;
    position: relative;
}
.fit__sign{
    visibility: hidden;
    font-family: 'Arizonia', cursive;
    font-weight: bold;
    font-size: 4.6vw;
    white-space: pre-line;
    text-align: center;
    position: absolute;
    right: 15%;
    top: 45%;
    transform: scale(3) rotate(0deg) ;
    transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.fit__sign--loaded{
    visibility: visible;
    transform: scale(1) rotate(300deg);
}

.query{
    background: #485563; 
    background: -webkit-linear-gradient(to right, #29323c, #485563); 
    background: linear-gradient(to right, #29323c, #485563);
    text-align: center;
    padding: 15px 50px;
}

.query__list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.query__list__item{
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2em;
    border-radius: 5px;
    padding: 10px;
    background: rgba(177, 177, 177, 0.733);
    -webkit-box-shadow: 0px 5px 6px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 5px 6px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 5px 6px 2px rgba(0, 0, 0, 0.6);
}
.query__list__item__up-half{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.query__list__item__up-half__icon{
    display: block;
    height: 70%;
    font-size: 5em;
    text-shadow: 0px 0px 12px rgba(0,0,0,0.8);
    color: white;
}
.query__list__item__up-half__header{
    background: rgb(255, 255, 255);
    margin-top: 20px;
    border-radius: 5px;
    font-family: 'Carter One', cursive;
    -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.6);
}
.query__list__item__down-half{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.query__list__item__down-half__btn{
    width: 100%;
    padding: 0.3em;
    border-radius: 5px;
    border: none;
    background: darkolivegreen;
    color: white;
    font-family: 'Dosis', sans-serif;
    font-weight: bolder;
    font-size: 1.2em;
    cursor: pointer;
    -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.6);
    transition: background 0.2s;
}
.query__list__item__down-half__btn:hover{
    background: rgba(85, 107, 47, 0.808);
}

.newsletter{
    background: #485563; 
    background: -webkit-linear-gradient(to right, #29323c, #485563); 
    background: linear-gradient(to right, #29323c, #485563);
    color: white;
    text-align: center;
    padding: 15px 50px;
}

.newsletter__form{
    font-size: 1.8em;
    width: 60%;
    margin: 0 auto;
}

.newsletter__form__fieldset{
    padding: 15px;
    background: #ffffff10;
    -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.6);
}
.newsletter__form__fieldset__input-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newsletter__form__fieldset__input-box__input{
    font-size: 1em;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: none;
    font-family: 'Dosis', sans-serif;
    -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.6);
}
.newsletter__form__fieldset__input-box__submit{
    width: 50%;
    align-self: center;
    font-size: 1em;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    background: darkolivegreen;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.2em;
    margin: 15px;
    -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.6);
}
.newsletter__form__fieldset__input-box__label{
    align-self: flex-start;
    margin-bottom: 10px;
}

.footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background: black;
    color: white;
    padding: 30px 50px;
    background: rgb(0, 0, 0, 0.8);
}
.footer__section{
    width: 30%;
}

.footer__section__list{
    list-style: none;
}
.footer__section__list.social{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.footer__section__list__item__link{
    color: white;
}
.footer__section__list__item__img{
    width: 3em;
    cursor: pointer;
}